.footer-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(201, 11%, 96%);
  margin-top: 160px;
  height: 20vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 50%;
}

.item-2 {
  flex: 0 50%;
}

.item-2 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  list-style: none;
}

.social {
  display: flex;
  gap: 20px;
}