.header-bg {
  background: url('../../../Assets/Images/bg-header-desktop.png') no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 130px;
}

.header h1 {
  color: hsl(210, 10%, 33%);
  margin-top: 40px;
  font-size: 35px;
}

.header p {
  color: hsl(201, 11%, 66%);
  margin-top: 16px;
  margin-bottom: 30px;
  max-width: 55ch;
  line-height: 24px;
}

.header button {
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  color: white;
  background: hsl(171, 66%, 44%);
  cursor: pointer;
  transition: 0.3s;
}

.header button:hover {
  background: hsl(171, 66%, 60%);
  box-shadow: 5px 5px 10px 0px hsl(171deg 66% 30%);
}

button.color {
  background: hsl(233, 100%, 69%);
}

button.color:hover {
  background: hsl(233, 100%, 70%);
  box-shadow: 5px 5px 10px 0px hsl(233deg 100% 30%);
}

.btn {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .header button {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .header-bg {
    background: url('../../../Assets/Images/bg-header-mobile.png') center no-repeat;
    background-size: cover;
  }
}