.store-bg {
  margin-top: 130px;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.store h1 {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
}

.store p {
  margin-top: 16px;
  color: hsl(201, 11%, 66%);
  max-width: 60ch;
  line-height: 24px;
}

.store button {
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  color: white;
  background: hsl(171, 66%, 44%);
  cursor: pointer;
  transition: 0.3s;
}

.store button:hover {
  background: hsl(171, 66%, 60%);
  box-shadow: 5px 5px 10px 0px hsl(171deg 66% 30%);
}

button.color {
  background: hsl(233, 100%, 69%);
}

button.color:hover {
  background: hsl(233, 100%, 70%);
  box-shadow: 5px 5px 10px 0px hsl(233deg 100% 30%);
}

.btn {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .store button {
    width: 100%;
    font-size: 20px;
  }
}